<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199756302480-iro3se0qdha57f0hfekd3rvm3h0se9ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199756302480-iro3se0qdha57f0hfekd3rvm3h0se9ml</string>
	<key>API_KEY</key>
	<string>AIzaSyClGUtLE3vcURCfi-9jcqf8jiIhbT4hJRk</string>
	<key>GCM_SENDER_ID</key>
	<string>199756302480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healtyfyPal</string>
	<key>PROJECT_ID</key>
	<string>healtyfy-pal</string>
	<key>STORAGE_BUCKET</key>
	<string>healtyfy-pal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199756302480:ios:407f1f6b27bcca4f9df015</string>
	<key>DATABASE_URL</key>
	<string>https://healtyfy-pal-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>